
body {
    background-color: beige;
}

header {
    text-align: center;
    padding-top: 100px;
}

#startButton {
    font-size: 50px;
    font-weight: bold;
    background-color: blueviolet;
    color: beige;
}

ul {
    float: right;
    padding-right: 100px;
}

li {
    text-decoration: none;
    font-size: 25px;
}

