
body {
    background-color: beige;
}

header {
    text-align: center;
    padding-top: 100px;
}

#startButton {
    font-size: 50px;           
    font-weight: bold;
    background-color: blueviolet;
    color: beige;
}

#clickArea, #enterInitials {
    text-align: center;
    padding-top: 50px;
}

.hide {
    display: none;
}
